*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
}
form{
    height:400px;
    width: 100%;
    padding: 30px;
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    /* box-shadow: 3px 3px orangered; */

}
input[type="text"]{
    padding: 15px;
    border-radius: 4px;
}
input[type="submit"]{
    padding: 15px;
    border-radius: 4px;
}