<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <center>
        <div class="form">
            <div class="title">Book Details</div>
            <div class="subtitle">Enter the details below</div>
            <form action="/" method="POST">
                <div class="input-container ic1">
                    <input id="bookname" class="input" type="text" placeholder=" " name="bookname">
                    <div class="cut"></div>
                    <label for="bookname" class="iLabel">Book Name</label>
                </div>
                <div class="input-container ic2">
                    <input id="image" class="input" type="text" placeholder=" " name="image">
                    <div class="cut"></div>
                    <label for="image" class="iLabel">Image URL</label>
                </div>
                <div class="input-container ic2">
                    <input id="price" class="input" type="number" placeholder=" " name="price">
                    <div class="cut cut-short"></div>
                    <label for="price" class="iLabel">Price</label>
                </div>
                <div class="input-container ic2">
                    <input id="date" class="input" type="date" placeholder=" " name="date">
                    <div class="cut cut-short"></div>
                    <label for="date" class="iLabel">Release Date</label>
                </div>
                <div class="input-container ic2">
                    <input id="author" class="input" type="text" placeholder=" " name="author">
                    <div class="cut cut-short"></div>
                    <label for="author" class="iLabel">Author</label>
                </div>
                <div class="input-container ic2">
                    <input id="description" class="input" type="textarea" placeholder=" " name="description">
                    <div class="cut"></div>
                    <label for="description" class="iLabel">Description</label>
                </div>
                <button type="submit" class="submit">Submit</button>
            </form>
        </div>
    </center>
</body>
</html>
`